# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.NotePlugin.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\vicio\Projects\Forsberg\NotePlugin\.idea\.idea.NotePlugin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
